<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>IT酷鱼网</title>
        <link rel='stylesheet' type="text/css" href='/css/style.css' />
        <link rel='stylesheet' type="text/css" href='/css/font-awesome.min.css' />
    </head>
    <body>
    	  	<div class="left-bar"><!-- leftBar -->
				<ul class="left-menu">
					<li class="active"><a href="###">酷</a><span>首页</span></li>
					<li><a href="###">博</a><span>博客</span></li>
					<li><a href="###">论</a><span>论坛</span></li>
					<li><a href="http://animate.coolfishstudio.com/">运</a><span>运动</span></li>
					<li><a href="###">应</a><span>应用</span></li>
					<li><a href="###">游</a><span>游戏</span></li>
					<li><a href="###">作</a><span>作品</span></li>
				</ul>
				<ul class="bottom-menu">
					<li><a href="###"><i class="icon-question-sign"></i></a></li>
					<li><a href="###"><i class="icon-font"></i></a></li>
					<li><a href="###"><i class="icon-signin"></i></a></li>
				</ul>
		  	</div><!-- leftBar end -->
		  	<div class="right-content"><!-- rightContent -->
		  		<div class="index-panel-box">
			 		<div class="index-panel" id="blog">
						<div class="cover-bg"></div>
						<div class="cover-mask"></div>
						<div class="cover-msg">敬请期待</div>
						<div class="bottom-block">
						    <h1>博客</h1>
						    <h3>博客笔记，纪录步伐</h3>
						    <h6>在这里更好地学习。</h6>
						    <a class="btn" href="###">前往酷鱼博客</a>
						</div>
					</div>
					<div class="index-panel" id="forum">
						<div class="cover-bg"></div>
						<div class="cover-mask"></div>
						<div class="cover-msg">敬请期待</div>
						<div class="bottom-block">
						    <h1>论坛</h1>
						    <h3>灌水论坛，乱弹怪谈</h3>
						    <h6>在这里更好地聊天。</h6>
						    <a class="btn" href="###">前往酷鱼论坛</a>
						</div>
					</div>
					<div class="index-panel" id="animate">
						<div class="cover-bg"></div>
						<div class="cover-mask"></div>
						<!-- <div class="cover-msg">敬请期待</div> -->
						<div class="bottom-block">
							<h1>运动</h1>
							<h3>灵活组件，前沿技术</h3>
							<h6>在这里更好的插件。</h6>
							<a class="btn" href="http://animate.coolfishstudio.com/">前往酷鱼运动</a>
						</div>
					</div>
					<div class="index-panel" id="application">
						<div class="cover-bg"></div>
						<div class="cover-mask"></div>
						<div class="cover-msg">敬请期待</div>
						<div class="bottom-block">
						    <h1>应用</h1>
						    <h3>精彩应用，休闲娱乐</h3>
						    <h6>在这里更好地生活。</h6>
						    <a class="btn" href="###">前往酷鱼应用</a>
						</div>
					</div>
					<div class="index-panel" id="game">
						<div class="cover-bg"></div>
						<div class="cover-mask"></div>
						<div class="cover-msg">敬请期待</div>
						<div class="bottom-block">
						    <h1>游戏</h1>
						    <h3>休闲游戏，斗智斗勇</h3>
						    <h6>在这里更好地玩耍。</h6>
						    <a class="btn" href="###">前往酷鱼游戏</a>
						</div>
					</div>
					<div class="index-panel" id="opus">
						<div class="cover-bg"></div>
						<div class="cover-mask"></div>
						<div class="cover-msg">敬请期待</div>
						<div class="bottom-block">
							<h1>作品</h1>
							<h3>高端布局，设计标准</h3>
							<h6>在这里更好的作品。</h6>
							<a class="btn" href="###">前往酷鱼作品</a>
						</div>
					</div>
				</div>
			</div>
	</body>
</html>