<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>酷鱼网 | 首页</title>
        <link rel='stylesheet' type="text/css" href='/css/style.css' />
        <link rel='stylesheet' type="text/css" href='/css/font-awesome.min.css' />
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/show.js"></script>
    </head>
    <body>
	  	<div class="left-bar"><!-- leftBar -->
			<ul class="left-menu">
				<li class="active"><a href="http://www.coolfishstudio.com/">酷</a><span>首页</span></li>
				<li><a href="http://blog.coolfishstudio.com/">博</a><span>博客</span></li>
				<li><a href="###">论</a><span>论坛</span></li>
				<li><a href="/app">应</a><span>应用</span></li>
				<li><a href="/game">游</a><span>游戏</span></li>
			</ul>
			<ul class="bottom-menu">
				<li><a href="###"><i class="icon-question-sign"></i></a></li>
				<li><a href="###"><i class="icon-font"></i></a></li>
				<li><a href="###"><i class="icon-signin"></i></a></li>
			</ul>
	  	</div><!-- leftBar end -->
	  	<div class="right-content"><!-- rightContent -->
	  		<div class="index-panel-box">
		 		<div class="left-panel" id="blog">
					<div class="cover-bg"></div>
					<div class="cover-mask"></div>
					<div class="cover-msg">重新开发</div>
					
					<div class="bottom-block">
					    <h1>博客</h1>
					    <h3>博客笔记，纪录步伐</h3>
					    <h6>在这里更好地学习。</h6>
					    <a class="btn" href="###">前往酷鱼博客</a>
					</div>
				</div>
				<div class="left-panel" id="forum">
					<div class="cover-bg"></div>
					<div class="cover-mask"></div>
					<div class="cover-msg">敬请期待</div>
					<div class="bottom-block">
					    <h1>论坛</h1>
					    <h3>灌水论坛，乱弹怪谈</h3>
					    <h6>在这里更好地聊天。</h6>
					    <a class="btn" href="###">前往酷鱼论坛</a>
					</div>
				</div>
				<div class="left-panel" id="application">
					<div class="cover-bg"></div>
					<div class="cover-mask"></div>
					<div class="bottom-block">
						<h1>应用</h1>
						<h3>灵活组件，前沿技术</h3>
						<h6>在这里更好的生活。</h6>
						<a class="btn" href="/app">前往酷鱼应用</a>
					</div>
				</div>
				<div class="left-panel" id="game">
					<div class="cover-bg"></div>
					<div class="cover-mask"></div>
					<div class="bottom-block">
					    <h1>游戏</h1>
					    <h3>休闲游戏，斗智斗勇</h3>
					    <h6>在这里更好地玩耍。</h6>
					    <a class="btn" href="/game">前往酷鱼游戏</a>
					</div>
				</div>
			</div>
			<div class="index-btn-left"><i class="icon-chevron-left"></i></div>
			<div class="index-btn-right"><i class="icon-chevron-right"></i></div>
		</div>
		<script type="text/javascript">
			$(function(){
				var mobileBrowser= /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
				var leftFlag = true;
				var rightFlag = true;
				var _length = $('.index-panel-box').find('.left-panel').length;
				var _width = 0;
				init();
				$('.index-btn-left').click(function(){
					if(leftFlag){
						$('.index-panel-box').prepend($('.index-panel-box').find('.left-panel').eq(_length - 1).css('marginLeft', '-' + _width + 'px'));
						leftFlag = false;
						$('.index-panel-box').find('.left-panel').eq(0).stop().animate({
							marginLeft : 0
						},800,function(){
							leftFlag = true;
						});
					}
				});
				$('.index-btn-right').click(function(){
					if(rightFlag){
						rightFlag = false;
						$('.index-panel-box').find('.left-panel').eq(0).stop().animate({
							marginLeft : '-' + _width + 'px'
						},800,function(){
							$('.index-panel-box').append($('.index-panel-box').find('.left-panel').eq(0).css('marginLeft', '0'));
							rightFlag = true;
						});
					}
					
				});
				function init(){
					if(!mobileBrowser){
						_width = (document.body.clientWidth - 45) / 4;
						$('.left-panel').css('width', _width + 'px');
						$('.index-panel-box').css('width', _width * _length + 'px');
					}else{
						_width = document.body.clientWidth - 45;
						$('.left-panel').css('width', _width + 'px');
						$('.index-panel-box').css('width', _width * _length + 'px');
						$('.index-btn-left').show();
						$('.index-btn-right').show();
					}
				}

				//加载雪场景
				show.info.zIndex = 500;
				show.down();
			});
		</script>
	</body>
</html>